<!DOCTYPE html>
<html lang="en">

<body>
  <div class="container">
    <div class="left-section">
      <img src="https://media-animation.be/local/cache-vignettes/L960xH640/appeloffre-8e211.jpg" alt="Doctor Illustration">
    </div>
    <div class="right-section">
      <div class="login-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/510px-Default_pfp.svg.png" alt="Doctor Icon" class="icon">
        <h1>WELCOME</h1>
        <form class="login-form" autocomplete="off">
          <div class="alert alert-danger" *ngIf="err==1">
            <strong>login ou mot de passe erronés..</strong>
        </div>
          <input type="text" placeholder="Email" name="email" [(ngModel)]="user.email" required/>
          <input type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required/>
          <div class="forgot-password">
            <a href="#">Forgot Password?</a>
          </div>
          <button type="submit" (click)="Login()">Sign In</button>
          <p class="signup">Don't have an account? <a href="/signUp">Sign Up</a></p>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
