<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Offres</title>

</head>
<body>
    <!-- Header-->
    <header class="bg-primary py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Mes appels d'offres</h1> <br>
                <p class="lead fw-normal text-white-50 mb-0">
                    <button class="btn btn-outline-light" [routerLink]="['/addOffre', entrepriseId]">Créer un appel d'offre</button>
                </p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5" *ngIf="isLoading">
        <div class="container px-4 px-lg-5 mt-5 text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </section>
    <section class="py-5" *ngIf="!isLoading">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="productContainer">
                <!-- Dynamic Offer Template -->
                <div class="col mb-5" *ngFor="let offer of offers">
                    <div class="card h-100">
                        <!-- Offer image-->
                        <img class="card-img-top" [src]="offer.img ? 'data:image/png;base64,' + offer.img : 'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'" alt="Offer Image" />
                        <!-- Offer details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Offer title-->
                                <h5 class="fw-bolder">{{ offer.titre }}</h5>
                                <!-- Offer date-->
                                <p>{{ offer.datelimitesoumission| date }}</p>

                                <p> <a class="table-link" [routerLink]="['/updateOffre',offer.id]">
                                    <span class="fa-stack" style="color: green;">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                  </a>
                                  <a class="table-link danger" style="color: red;" (click)="supprimerOffre(offer.id)">
                                    <span class="fa-stack">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                  </a></p>
                            
                            </div>
                        </div>
                        
                        
                        <!-- Offer actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/detailsOffre', offer.id]">Voir détails</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
