<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de l'Offre</title>
</head>
<body>
    <div class="container">
        <div class="offer-container">
            <h1 class="offer-title">{{currentOffer.titre}}</h1>
            <div class="image-section">
                <img [src]="currentOffer.img ? 'data:image/png;base64,' + currentOffer.img : 'https://bootdey.com/img/Content/avatar/avatar7.png'" alt="Offer Image" class="offer-image">
            </div>
            <div class="details-section">
                <p class="offer-description">{{currentOffer.description}}</p>
                <span class="location-info">{{currentOffer.localisation}}</span>
            </div>
        </div>
        <div class="entreprise-info">
            <h2>Entreprise Info</h2>
            <table class="info-table">
                <tr>
                    <th>Nom:</th>
                    <td>{{ currentEntreprise.name }}</td>
                </tr>
                <tr>
                    <th>Secteur d'activité:</th>
                    <td>{{ currentEntreprise.secteuractivite }}</td>
                </tr>
                <tr>
                    <th>Adresse:</th>
                    <td>{{ currentEntreprise.adresse }}</td>
                </tr>
                <tr>
                    <th>Ville:</th>
                    <td>{{ currentEntreprise.ville }}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
