<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Offres</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
    <!-- Header-->
    <header class="bg-primary py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Les offres disponibles</h1>
                 </div>
        </div>
    </header>
  
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="productContainer">
                <!-- Dynamic Offer Template -->
                <div class="col mb-5" *ngFor="let offer of offers">
                    <div class="card h-100">
                        <!-- Offer image-->
                        <img class="card-img-top" [src]="offer.img ? 'data:image/png;base64,' + offer.img : 'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'" alt="Offer Image" />
    
                        <!-- Offer details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Offer title-->
                                <h5 class="fw-bolder">{{ offer.titre }}</h5>
                                <!-- Offer description-->
                               
                                <!-- Offer date-->
                                <p>{{ offer.datecreation | date }}</p>

                        
                            </div>
                        </div>
                        <!-- Offer actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/detailsOffre',offer.id]">Voir détails</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer (ensure you have an app-footer component or adjust as needed) -->
    <app-footer></app-footer>
</body>
</html>
